---
export interface Props {
  textLogo: string;
  title: string;
  startsAt: string;
  endsAt: string;
  body: string;
  techList: string[];
}
const { textLogo, title, startsAt, endsAt, body, techList } = Astro.props as Props;
---

<div class="card">
  <h1 class="text-logo">{textLogo}</h1>
  <h3>{title}</h3>
  <p>{startsAt} | {endsAt}</p>
  <p>{body}</p>
  <h4>Tech list</h4>

  <ul>
    {techList.map((item) => <li>{item}</li>)}
  </ul>
</div>

<style>
  .text-logo {
    margin-bottom: 1.2rem;
    font-size: 32px;
  }
  
  .card {
    background: #fff;
    padding: 2rem 2rem;
    border-radius: 0.9rem;
    box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.1);
    text-align: center;
  }
</style>
